<!-- Clean up homebrew downloads -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>me.hpcodecraft.brewcleanup</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/brew</string>
    <string>cleanup</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <dict>
      <key>Minute</key>
      <integer>30</integer>
      <key>Hour</key>
      <integer>11</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/brewcleanup.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/brewcleanup.log</string>
</dict>
</plist>
